button.show_hidebtn {
    border: none;
    outline: none;
    position: absolute;
    right: 8px;
    top: 28%;
}

.wrapper-input {
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}